# PostgreSQL
POSTGRES_DB=gridsense_billing
POSTGRES_USER=gridsense
POSTGRES_PASSWORD=change_me_postgres

# MongoDB
MONGO_INITDB_ROOT_USERNAME=gridsense
MONGO_INITDB_ROOT_PASSWORD=change_me_mongo
MONGO_INITDB_DATABASE=gridsense_catalog

# Neo4j
NEO4J_PASSWORD=change_me_neo4j

# Redis
REDIS_HOST=cache
REDIS_PORT=6379

# Cassandra
CASSANDRA_HOST=timeseries-db
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=gridsense

# API
API_PORT=8000